.nav{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100px;
    background-color: #1B1F23;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;
}

.menu ul{
    display: flex;
    gap: 50px;
}

.mob-menu{
    display: none;
}

.img{
    width: 100px;
}

.btn{
    border: 1px solid yellow;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: yellow;
    color: black;
    font-family: serif;
    font-weight: bold;
    transition: 0.5s;
}

.btn:hover{
    border-radius: 20px;
}

.mobile{
    display: none;
}

.menubar{
    width: 40px;
}


@media(max-width:992px){
    .img{
        width: 80px;
    }

    .navbar{
        margin: 0 10px;
    }
    .btn{
        padding: 5px 15px;
    }

    .nav{
        height: 80px;
    }
}

@media(max-width:576px){

    .img{
        display: none;
    }

    .mobile{
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .mob-menu{
        display: block;
        position: relative;
        top: 60px;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        background-color: rgb(41, 41, 41);
        transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    }

    .mob-menu.show {
        opacity: 1;
        max-height: 500px; /* Set this to the height of your menu */
      }

    .mob-menu ul{
        border: 1px solid gray;
        padding: 60px 100px;
        border-radius: 30px;
    }

    .mob-menu ul li{
        margin-left: 60px;
    }

    .mob-img{
        width: 60px;
    }
    .login-btn{
        display: none;
    }

    .menu{
        display: none;
    }
    .img{
        width: 50px;
    }
    .nav{
        height: 60px;
    }
}