.knowledge{
    display:  grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: 1fr 2fr 1fr;
}

.category{
    height: 15rem;
}

@media (max-width: 1024px) {
    .knowledge {
        grid-template-columns: 1fr 2fr;
    }

    .category{
            height: 40vh;
            width: 30%;
    }

    .other {
        display: none;
    }
}

@media (max-width: 576px) {
.knowledge {
    grid-template-columns: 1fr;
}

.post{
    margin-top: 10px;
}

.know-height{
        margin-top: 10px;
}

.category,
.other {
    display: none;
}

}



.text-pop-up-top {
-webkit-animation: text-pop-up-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate-reverse both;
        animation: text-pop-up-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate-reverse both;
}

@-webkit-keyframes text-pop-up-top {
0% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  text-shadow: none;
}
100% {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  text-shadow: 0 1px 0 #a2a500, 0 2px 0 #a2a500, 0 3px 0 #a2a500, 0 4px 0 #a2a500, 0 5px 0 #a2a500, 0 6px 0 #a2a500, 0 7px 0 #a2a500, 0 8px 0 #a2a500, 0 9px 0 #a2a500, 0 50px 30px rgba(0, 0, 0, 0.3);
}
}
@keyframes text-pop-up-top {
0% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  text-shadow: none;
}
100% {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  text-shadow: 0 1px 0 #a2a500, 0 2px 0 #a2a500, 0 3px 0 #a2a500, 0 4px 0 #a2a500, 0 5px 0 #a2a500, 0 6px 0 #a2a500, 0 7px 0 #a2a500, 0 8px 0 #a2a500, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
}
}
